.row {
    height: 100vh;
    margin: 0;
    padding: 0;
}

.row .container {
    background-color: red;
    padding: 5%;
}

.row .container .table {
    height: fit-content;
    background-color: yellow;
}

.row .container .table .table-header{
    background-color: blue;
    width: 100%;
    text-align: center;
    justify-content: space-evenly;
}

.row .container .table .table-header th {
    font-size: 24px;
    color: #ffffff;
    font-family: 'Fira Sans';
    font-weight: bold;
}

.row .container .table .table-entry {
    width: fit-content;
    height: fit-content;
    background-color: green;
    text-align: center;
}

.row .container .table .table-entry .name {
    font-size: 16px;
    color: #ffffff;
    font-family: 'Fira Sans';
    font-weight: normal;
}

.row .container .table .table-entry .image-preview {
    width: 200px;
    height: 400px;
    object-fit: contain;
    padding: 0;
    margin: 0;
}

.add-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 50px; 
    right: 50px; 
}

.round-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 24px;
    padding: 0;
    border: none;
    background-color: #28a745;
    color: white;
    text-decoration: none;
}

.round-button:hover {
    background-color: #218838;
}