<link rel="stylesheet" href="~/css/swiper-styles.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

<section>
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="image">

                    <div class="black">

                        <h1>PACIFIC RIM</h1>

                        <div class="star">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>

                        <p>
                            Świat nie umie obronić się przed morskimi potworami
                            z innego wymiaru. Ostatnią nadzieją naszej planety
                            stają się wydalony ze służby pilot i niedoszkolona
                            nowicjuszka.
                        </p>

                        <div class="genre">
                            <span href="#" class="category">Action</span>
                            <span href="#" class="category">Drama</span>
                        </div>

                        <div class="watch">
                            <a>More</a>
                        </div>

                    </div>

                    <img src="https://images8.alphacoders.com/112/thumb-1920-1128624.jpg">
                        
                </div>
            </div>
            <div class="swiper-slide">
                <div class="image">
                    <div class="black">

                        <h1>INTERSTELLAR</h1>

                        <div class="star">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>

                        <p>
                            Byt ludzkości na Ziemi dobiega końca
                            wskutek zmian klimatycznych. Grupa naukowców
                            odkrywa tunel czasoprzestrzenny, który umożliwia
                            poszukiwanie nowego domu.
                        </p>

                        <div class="genre">
                            <span href="#" class="category">Action</span>
                            <span href="#" class="category">Drama</span>
                        </div>

                        <div class="watch">
                            <a>More</a>
                        </div>
                            
                    </div>

                    <img src="https://astropolis.pl/uploads/imageproxy/interstellar-official-poster-wallpaper-2.jpg.5b3bde5ebf8a5721f8db61e9f9d5c42d.jpg"/>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="image">
                    <div class="black">

                        <h1>AVATAR: THE WAY OF WATER</h1>

                        <div class="star">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>

                        <p>
                            Pandorę znów napada wroga korporacja w poszukiwaniu cennych
                            minerałów. Jack i Neytiri wraz z rodziną zmuszeni są opuścić
                            wioskę i szukać pomocy u innych plemion zamieszkujących planetę.
                        </p>

                        <div class="genre">
                            <span href="#" class="category">Action</span>
                            <span href="#" class="category">Drama</span>
                        </div>

                        <div class="watch">
                            <a>More</a>
                        </div>

                    </div>

                    <img src="https://m.media-amazon.com/images/S/pv-target-images/fc6453e1a08c1ae819e2ad97c8a00484f6b531a415474e20b32e1ce53d4f5781.jpg"/>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="image">
                    <div class="black">

                        <h1>WORLD WAR Z</h1>

                        <div class="star">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>

                        <p>
                            Tajemnicza choroba zmienia ludzi w żądne krwi zombie.
                            Chcący zapewnić swojej rodzinie bezpieczeństwo były pracownik
                            ONZ, Gerry Lane, dołącza do zespołu mającego znaleźć przyczynę
                            dziesiątkującej świat zarazy.
                        </p>

                        <div class="genre">
                            <span href="#" class="category">Action</span>
                            <span href="#" class="category">Drama</span>
                        </div>

                        <div class="watch">
                            <a>More</a>
                        </div>

                    </div>

                    <img src="https://wallpapercave.com/wp/wp5260440.jpg"/>
                </div>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script>
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,
        spaceBetween: 0,
        loop: true,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>